[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mido = "*"
pyyaml = "*"
flet = "*"
cx-freeze = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"

[scripts]
start = "python midi_babel.py"
